body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #0b0b0b;
    background-color: rgb(146, 181, 142);
    
}

.centered-content {
    text-align: center; /* Centers the text elements horizontally */
}



li{
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
}
a{  color: maroon;
text-decoration: none;
}
a:hover{
    text-decoration: underline;
    /*font-weight: bold;*/
}
a:visited{
    color: blue;
}
h2, h4  {color: black;
}
.resumewithheading{
    font-weight: bold;
    font-style: normal;
}
.underline {text-decoration: underline;}
.bold{font-weight: bold;}
.justify{text-align: justify;}

.homebg{
background-image: url('../Images/IMG_20240316_134624.jpg');
background-size: cover;
background-position:center;
background-repeat:no-repeat ; 
}
.box1{
display: inline-block;
border-width: 1px;
border-style: solid;
border-color: #555555;

/*border: 1px solid red; */
}
.box2 {
padding: 5px;
}
.box3{
margin: 50px;
}
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: maroon; /* Feel free to adjust the color */
    color: white; /* Text color */
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px; /* Adjust the font size as needed */
    z-index: 1000; /* Ensures it stays on top of other content */
}

.back-to-top:hover {
    background-color: darkred; /* Darker shade for hover state */
    color: #ffffff;
    text-decoration: none; /* Override the global a:hover styles */
}

.center-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Take up full viewport height */
}

.tableauPlaceholder {
    width: 800px; /* Or the width of your Tableau viz */
    height: 827px; /* Or the height of your Tableau viz */
    margin: auto; /* This is key for horizontal centering if not using flexbox */
}

.centered-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-content > ol {
    list-style-type: decimal; /* Ensure the ordered list has numbers */
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: left;
}

.centered-content > ol > li {
    text-align: left; /* Align the text of direct child list items to the left */
}

.centered-content > ol > li > ul {
    list-style-type: disc; /* Default style for unordered lists, adjust as needed */
    padding-left: 20px; /* Indent unordered lists for visual hierarchy */
    margin: 0;
}

.centered-content > ol > li > ul > li {
    text-align: left; /* Align the text of unordered list items to the left */
}
